:root {
  --active-color: #2196F3;
  --basis-text-color: #212121;
  --secondary-text-color: #757575;
  --background-btn-color: #F5F4FA;
  --borders-color: #EEEEEE;
  --footer-background: #2F303A;
  



}